@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Open+Sans:wght@700&family=Roboto:wght@300;400;500&display=swap');

/* variables */
:root {
    --mainColor: #f1fcfc;
    --secondary: #40e0d0;
    --bgcolor: #72b5b7;
    --textcolor: #633a82;
}

/* reset */
a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    background-color: var(--mainColor);
    
    font-family: 'Roboto', 'Open Sans', 'Manrope', sans-serif;
}

/* base styles */
h2, h3, h4 {
    font-family: 'Open sans';
    font-weight: 600;
    color: var(--textcolor);
}
p {
    font-family: 'Manrope';
    color: var(--bgcolor);
}
h5 {
    text-transform: uppercase;
    font-family: 'Manrope';
}
h1{
    font-family: 'Roboto';
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--textcolor);
}
span{
    font-weight: 300;
    color: var(--bgcolor);
}

li {
    font-family: 'Manrope';
}

.button {
    text-align: center;
    background-color: var(--textcolor);
    color: var(--mainColor);
    border-radius: 2px;
    font-size: 1.2em;
    /* padding: 10px 20px; */
}
.qoutes {
    font-style: italic;
    font-size: 0.8;
    font-weight: 300;
}
h2{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--textcolor);
}
h3{
    font-size: 1.1em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/* fonts */


/* mobile styles */
.site-nav {
    height: 50px;
}
.site-nav h1, .site-nav li{
    display: none;
}

.site-nav ul{
   grid-column: 2/8;
   display: flex;
   justify-content: space-between;
   align-self: center;
}

#welcome-banner .welcome-img{
    grid-column: 1 / 9;
}
#welcome-banner .welcome-text{
    grid-column: 1 / 9;
    grid-row: 2;
    align-self: center;
}

.welcome-text h2{
    font-size: 3rem;
    padding: 32px 15px
}
.welcome-text .leading {
    font-size: 2em;
    padding: 0 15px 32px 15px;
}

.welcome-text a{
    display: block;
    padding: 15px 40px;
    font-family: 'Roboto';
    font-weight: 500;
}
#welcome-banner img {
    display: block;
    width: 100%;
}
