@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Open+Sans:wght@700&family=Roboto:wght@300;400;500&display=swap');

:root {
    --mainColor: #f1fcfc;
    --secondary: #40e0d0;
    --bgcolor: #72b5b7;
    --textcolor: #633a82;
}


html {
    box-sizing: border-box;
    background-color: var(--mainColor);
    color: var(--textcolor);

    font-family: 'Roboto', 'Open Sans', 'Manrope', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 5rem;
}